@import "src/_variables";

.menu {
  background-color: $extra-dark-grey;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .menu {
    .tog {
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 60px;
      background-color: $dark-grey;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        pointer-events: none;
        transform: rotate(0deg);
        width: 25px;
        transition-duration: 0.5s;
      }

      &.rot {
        img {
          transform: rotate(45deg);
        }
      }
    }

    .menu-holder {
      &.hide {
        display: none;
      }

      .list-holder {
        width: 100%;
        position: relative;
        top: 22px;
      }
    }
  }
}

/* Desktop */
@media only screen and (min-width: 769px) {
  .menu {
    display: flex;
    align-items: flex-end;

    app-logo {
      min-width: 180px
    }

    .menu-holder {
      display: flex;
      flex: 1;

      app-menu-items {
        flex: 1;
        display: block;
      }

      .list-holder {
        position: absolute;
        overflow: hidden;
        width: 100%;
        max-width: 268px;
        top: 180px;
        cursor: pointer;
      }
    }
  }
}
