@import "src/_variables";

.menu {
  background-color: $extra-dark-grey;
}

/* Mobile */
@media only screen and (max-width: 768px) {

}

/* Desktop */
@media only screen and (min-width: 769px) {
  .menu {
    display: flex;
    align-items: flex-end;

    app-logo {
      min-width: 180px
    }

    .menu-holder {
      display: flex;
      flex: 1;

      app-menu-items {
        flex: 1;
        display: block;
      }

      .list-holder {
        position: absolute;
        overflow: hidden;
        width: 100%;
        max-width: 268px;
        top: 180px;
        cursor: pointer;
      }
    }

    }

  }
