/* Description: Reusable variables (colors, fonts, etc;) */

// Define color variables
$white: #ffffff;
$black: #000000;
$gold: #d1a04f;
$beige: #CDCDCD;
$dark-grey-background: #151515;
$extra-dark-grey: #202020;
$dark-grey: #353535;
$medium-grey: #323232;

// Define font-family and font-sizes
$default-font: Arial;
$mobile-body-font-size: 14px;
$mobile-button-font-size: 12px;
$desktop-body-font-size: 12px;

