@import "src/_variables";

.list {
  background-color: $medium-grey;
  padding: 24px 48px;
  width: 100%;
  max-width: 268px;
  color: $beige;
  font-family: $default-font;
  text-transform: uppercase;
  &:hover {
    color: gold;
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .list {
    background-color: $mobile-grey;
    padding: 24px 0px;
    width: 100%;
    max-width: 100%;
    color: $beige;
    font-family: $default-font;
    text-transform: uppercase;
    &:hover {
      color: gold;
    }
  }
}
